extends _base/_layout
block settings 

	- title = 'Диоптрика — Новости';


mixin newsCard(imgDesk, imgMob, date, title, text)
	a.news_card(href="/news_card_page")
		.news_card__img 
			+img(imgDesk, '', 'image image--desk')
			+img(imgMob, '', 'image image--mob')
		p.news_card__date= date
		p.news_card__title!= title
		p.news_card__text!= text


block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")

		.home__tabs
			a.home__tab(href="/")
				+svg('tab_1', 'icon')
				span.text Главная
			a.home__tab(href="/catalog")
				+svg('tab_2', 'icon')
				span.text Каталог
			a.home__tab(href="/cart")
				+svg('tab_3', 'icon')
				span.text Корзина
			a.home__tab(href="/favorites")
				+svg('tab_4', 'icon')
				span.text Избранное
			a.home__tab(href="/account")
				+svg('tab_5', 'icon')
				span.text Войти

		section.news
			.news__breadcrumbs.breadcrumbs(itemscope itemtype="https://schema.org/BreadcrumbList")
				a.breadcrumbs__link(href="/" itemprop="name") Диоптрика
				span.slash /
				a.breadcrumbs__link.is-active(itemprop="name") Новости

			h1.section_block__title Новости
			
			.news__buttons 
				button.news__sort_btn.btn.btn--grey.btn--icon_right(data-sort-btn="")
					span.btn__text сначала новые
					+svg('icon_sort', "btn__icon btn__icon--black btn__icon--right")

			.news__content 
				+newsCard(`${assetsPath}/img/preview_desk.png`, `${assetsPath}/img/preview_mob.png`, '7 апреля, 2023', 'Компания Safilo представила коллекции осень-зима 2023.', 'своих лицензионных брендов Boss, Carolina Herrera, David Beckham, DSquared2, Marc Jacobs, Moschino.')
				+newsCard(`${assetsPath}/img/preview_desk.png`, `${assetsPath}/img/preview_mob.png`, '7 апреля, 2023', 'Компания Safilo представила коллекции осень-зима 2023.', 'своих лицензионных брендов Boss, Carolina Herrera, David Beckham, DSquared2, Marc Jacobs, Moschino.')
				+newsCard(`${assetsPath}/img/preview_desk.png`, `${assetsPath}/img/preview_mob.png`, '7 апреля, 2023', 'Компания Safilo представила коллекции осень-зима 2023.', 'своих лицензионных брендов Boss, Carolina Herrera, David Beckham, DSquared2, Marc Jacobs, Moschino.')
				+newsCard(`${assetsPath}/img/preview_desk.png`, `${assetsPath}/img/preview_mob.png`, '7 апреля, 2023', 'Компания Safilo представила коллекции осень-зима 2023.', 'своих лицензионных брендов Boss, Carolina Herrera, David Beckham, DSquared2, Marc Jacobs, Moschino.')
				
		   
				+newsCard(`${assetsPath}/img/preview_desk.png`, `${assetsPath}/img/preview_mob.png`, '7 апреля, 2023', 'Компания Safilo представила коллекции осень-зима 2023.', 'своих лицензионных брендов Boss, Carolina Herrera, David Beckham, DSquared2, Marc Jacobs, Moschino.')
				+newsCard(`${assetsPath}/img/preview_desk.png`, `${assetsPath}/img/preview_mob.png`, '7 апреля, 2023', 'Компания Safilo представила коллекции осень-зима 2023.', 'своих лицензионных брендов Boss, Carolina Herrera, David Beckham, DSquared2, Marc Jacobs, Moschino.')
				+newsCard(`${assetsPath}/img/preview_desk.png`, `${assetsPath}/img/preview_mob.png`, '7 апреля, 2023', 'Компания Safilo представила коллекции осень-зима 2023.', 'своих лицензионных брендов Boss, Carolina Herrera, David Beckham, DSquared2, Marc Jacobs, Moschino.')
				+newsCard(`${assetsPath}/img/preview_desk.png`, `${assetsPath}/img/preview_mob.png`, '7 апреля, 2023', 'Компания Safilo представила коллекции осень-зима 2023.', 'своих лицензионных брендов Boss, Carolina Herrera, David Beckham, DSquared2, Marc Jacobs, Moschino.')
				
		   
				+newsCard(`${assetsPath}/img/preview_desk.png`, `${assetsPath}/img/preview_mob.png`, '7 апреля, 2023', 'Компания Safilo представила коллекции осень-зима 2023.', 'своих лицензионных брендов Boss, Carolina Herrera, David Beckham, DSquared2, Marc Jacobs, Moschino.')
				+newsCard(`${assetsPath}/img/preview_desk.png`, `${assetsPath}/img/preview_mob.png`, '7 апреля, 2023', 'Компания Safilo представила коллекции осень-зима 2023.', 'своих лицензионных брендов Boss, Carolina Herrera, David Beckham, DSquared2, Marc Jacobs, Moschino.')
				+newsCard(`${assetsPath}/img/preview_desk.png`, `${assetsPath}/img/preview_mob.png`, '7 апреля, 2023', 'Компания Safilo представила коллекции осень-зима 2023.', 'своих лицензионных брендов Boss, Carolina Herrera, David Beckham, DSquared2, Marc Jacobs, Moschino.')
				+newsCard(`${assetsPath}/img/preview_desk.png`, `${assetsPath}/img/preview_mob.png`, '7 апреля, 2023', 'Компания Safilo представила коллекции осень-зима 2023.', 'своих лицензионных брендов Boss, Carolina Herrera, David Beckham, DSquared2, Marc Jacobs, Moschino.')
				
		   
				
		   
					  
			.news__pagination.pagination
				button.pagination__btn_more.btn.btn--grey
					span.btn__text Показать ещё
				
				.pagination__wrap 
					button.pagination__num.is-active 1
					button.pagination__num 2
					button.pagination__num 3
					button.pagination__num ...
					button.pagination__num 12